<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.search.mapper.IDCardLocationMapper">

	<select id="getByIDCard" parameterType="String" resultType="com.search.beans.bizs.IDCardLoation">
		SELECT * FROM IDCARDLOATION WHERE idcard = #{idCard} LIMIT 1
	</select>
	
</mapper>